force-app/main/default/flows/Account_U_Unique_Chewy_ID_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>generate_new_token</name>
        <label>generate new token</label>
        <locationX>706</locationX>
        <locationY>815</locationY>
        <actionName>regenerateToken</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>add_to_contact_list_for_update_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>clinicId</name>
            <value>
                <elementReference>$Record.Unique_Chewy_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clinicName</name>
            <value>
                <elementReference>loop_through_contacts_not_null.Account_Name_for_Pardot__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>loop_through_contacts_not_null.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>onboardingId</name>
            <value>
                <elementReference>$Record.Onboarding_ID_Auto__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>loop_through_contacts_not_null.Onboarding_Token__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>add_to_contact_list_for_update</name>
        <label>add to contact list for update</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>contactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_contacts_null</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_contacts_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_contact_list_for_update_0</name>
        <label>add to contact list for update</label>
        <locationX>706</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>contactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_contacts_not_null</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_contacts_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_token_to_null</name>
        <label>set token to null</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>loop_through_contacts_null.Onboarding_Token__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>add_to_contact_list_for_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>any_value_changed_to_null</name>
        <label>any value changed to null?</label>
        <locationX>334</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>loop_through_contacts_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not null</defaultConnectorLabel>
        <rules>
            <name>changed_to_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Unique_Chewy_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unique_Chewy_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_contacts_null</targetReference>
            </connector>
            <label>changed to null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_missing_params</name>
        <label>check for missing params</label>
        <locationX>838</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>loop_through_contacts_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>missing params</defaultConnectorLabel>
        <rules>
            <name>has_4_params</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_ID_Auto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_through_contacts_not_null.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_through_contacts_not_null.Account_Name_for_Pardot__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unique_Chewy_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>generate_new_token</targetReference>
            </connector>
            <label>has 4 params</label>
        </rules>
    </decisions>
    <description>v4.18.22: switch onboarding id from contact to account level.
v7.21.22: swapped Onboarding_Id__c with Onboarding_Id_Auto__c.</description>
    <interviewLabel>Account | U | Unique Chewy ID Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account | U | Unique Chewy ID Changed</label>
    <loops>
        <name>loop_through_contacts_not_null</name>
        <label>loop through contacts not null</label>
        <locationX>618</locationX>
        <locationY>575</locationY>
        <collectionReference>get_directly_related_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_for_missing_params</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_related_contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_contacts_null</name>
        <label>loop through contacts null</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>get_directly_related_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_token_to_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_related_contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_directly_related_contacts</name>
        <label>get directly related contacts</label>
        <locationX>334</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>any_value_changed_to_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_related_contacts</name>
        <label>update related contacts</label>
        <locationX>334</locationX>
        <locationY>1343</locationY>
        <inputReference>contactsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>208</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_directly_related_contacts</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Unique_Chewy_ID__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
