force-app/main/default/flows/Account_After_Create_Create_ACR_Opportunity_OCR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Decision_CreateAccountContactRelationship</name>
        <label>Decision_CreateAccountContactRelationship</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Decision_CreateOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCreateAccountContactRelationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_AccountContactRelationship</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_CreateOpportunity</name>
        <label>Decision_CreateOpportunity</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Decision_CreateOpportunityContactRole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCreateOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreateOnboardingOpportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_CreateOpportunityContactRole</name>
        <label>Decision_CreateOpportunityContactRole</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCreateOpportunityContactRole</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreateOnboardingOpportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_OpportunityContactRole</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>If an Account is inserted with (Type = &quot;Corporate Account&quot; AND ParentId != NULL) OR (CreateOnboardingOpportunity__c = TRUE), this Flow evaluates if the Account needs an ACR, a child Opportunity, and an OCR for said Opportunity.</description>
    <formulas>
        <name>Formula_TodayPlusOneMonth</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate}, 1)</expression>
    </formulas>
    <interviewLabel>Account - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - After Create - Create ACR/Opportunity/OCR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_AccountContactRelationship</name>
        <label>Create_AccountContactRelationship</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Decision_CreateOpportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.PrimaryContact__c</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create_Opportunity</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Decision_CreateOpportunityContactRole</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Formula_TodayPlusOneMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_OpportunityContactRole</name>
        <label>Create_OpportunityContactRole</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.PrimaryContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_CreateAccountContactRelationship</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreateOnboardingOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
