force-app/main/default/flows/AccountOwnerShip.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assigning_Clinic_Type</name>
        <label>Assigning Clinic Type</label>
        <locationX>911</locationX>
        <locationY>109</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_clinictype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_for_parent</name>
        <label>Assigning for parent</label>
        <locationX>920</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JohnDeeseUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_parentytpe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_of_owner</name>
        <label>Assigning of owner</label>
        <locationX>273</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>Converted_opportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updating_opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>opportunity_is_not_null</name>
        <label>opportunity is not null</label>
        <locationX>108</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>opportuity_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConvertedOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Converted_opportunity</targetReference>
            </connector>
            <label>opportuity is not null</label>
        </rules>
        <rules>
            <name>Opportunity_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConvertedOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Opportunity is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeCheck</name>
        <label>RecordTypeCheck</label>
        <locationX>545</locationX>
        <locationY>43</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clinic_Record_type_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0126u0000008TdDAAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_Clinic_Type</targetReference>
            </connector>
            <label>Clinic Record type Id</label>
        </rules>
        <rules>
            <name>ParentCompanyRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0126u0000008Td8AAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JohnDeeseUser</targetReference>
            </connector>
            <label>ParentCompanyRecordType</label>
        </rules>
    </decisions>
    <description>Checked opportunity is null</description>
    <interviewLabel>AccountOwnerShip {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountOwnerShip</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AccountRecord</name>
        <label>AccountRecord</label>
        <locationX>453</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordTypeCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Converted_opportunity</name>
        <label>Converted opportunity</label>
        <locationX>122</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_of_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>JohnDeeseUser</name>
        <label>JohnDeeseUser</label>
        <locationX>705</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_for_parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>John Deese</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_clinictype</name>
        <label>Updating clinictype</label>
        <locationX>1085</locationX>
        <locationY>122</locationY>
        <inputReference>AccountRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updating_opportunity</name>
        <label>updating opportunity</label>
        <locationX>454</locationX>
        <locationY>498</locationY>
        <inputReference>Converted_opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_parentytpe</name>
        <label>Updating parentytpe</label>
        <locationX>1100</locationX>
        <locationY>329</locationY>
        <inputReference>AccountRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>opportunity_is_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
