force-app/main/default/flows/Generate_New_Token.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Decrypts the current token and validates all values. If there&apos;s a mismatch, a new token is generated and the user is notified before sending the invitation.</description>
        <name>decrypt_and_regenerate_token</name>
        <label>decrypt and regenerate token</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>decryptOnboardingToken</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Token_Mismatch</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>clinicId</name>
            <value>
                <elementReference>get_this_contact.Unique_Chewy_ID_NEW__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clinicName</name>
            <value>
                <elementReference>get_this_contact.Account_Name_for_Pardot__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>get_this_contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>onboardingId</name>
            <value>
                <elementReference>get_this_contact.Onboarding_ID_formula__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currentToken</name>
            <value>
                <elementReference>get_this_contact.Onboarding_Token__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>returnedToken</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>generate_new_token_as_string</name>
        <label>generate new token as string</label>
        <locationX>204</locationX>
        <locationY>1070</locationY>
        <actionName>regenerateToken</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_this_contact</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>clinicId</name>
            <value>
                <elementReference>get_this_contact.Account.Unique_Chewy_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clinicName</name>
            <value>
                <elementReference>get_this_contact.Account_Name_for_Pardot__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>get_this_contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>onboardingId</name>
            <value>
                <elementReference>get_this_contact.Account.Onboarding_ID_Auto__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>get_this_contact.Onboarding_Token__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>onboarding_token_is_null</name>
        <label>onboarding token is null</label>
        <locationX>204</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>tokenMismatchWarning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is null</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_this_contact.Onboarding_Token__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decrypt_and_regenerate_token</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Token_Mismatch</name>
        <label>Token Mismatch?</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>tokenMismatchWarning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mismatch</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_this_contact.Onboarding_Token__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>returnedToken</elementReference>
                </rightValue>
            </conditions>
            <label>Match</label>
        </rules>
    </decisions>
    <description>v4.18.22: switched onboarding id from contact to account level.
v7.21.22: swapped Onboarding_Id__c with Onboarding_Id_Auto__c.</description>
    <formulas>
        <name>onboardingURL</name>
        <dataType>String</dataType>
        <expression>HYPERLINK({!get_this_contact.Onboarding_URL__c},&quot;here&quot;)</expression>
    </formulas>
    <interviewLabel>Generate New Token {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate New Token</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_this_contact</name>
        <label>get this contact</label>
        <locationX>204</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>onboarding_token_is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_this_contact</name>
        <label>update this contact</label>
        <locationX>204</locationX>
        <locationY>1190</locationY>
        <inputReference>get_this_contact</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>tokenMismatchWarning</name>
        <label>tokenMismatchWarning</label>
        <locationX>204</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>generate_new_token_as_string</targetReference>
        </connector>
        <fields>
            <name>mismatchWarningText_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This record&apos;s Onboarding Token is either missing or invalid.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Click &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Generate Token &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;to create a new one before sending the invitation email.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Generate Token</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>78</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_this_contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!get_this_contact.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We’re thrilled to partner with&amp;nbsp;{!get_this_contact.Account.Name} through Practice Hub by Chewy Health.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To activate your portal and begin earning revenue, we require the following items uploaded in our self-service portal which can be accessed &lt;a href=&quot;https://practicehub-signup.chewy.com/welcome/{!returnedToken}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Acknowledgement of the Master Service Agreement and Terms &amp;amp; Conditions&amp;nbsp;&amp;nbsp;&lt;/li&gt;&lt;li&gt;W9 form&amp;nbsp;&amp;nbsp;&lt;/li&gt;&lt;li&gt;Copy of a canceled or voided check, or bank letter&amp;nbsp;&lt;/li&gt;&lt;li&gt;Resale Certificate or Tax-Exempt form&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please note the portal requires these documents to be uploaded in PDF format. If you have any questions, please&amp;nbsp;&lt;b&gt;reply all to this email&lt;/b&gt;&amp;nbsp;to ensure you get a response from a Practice Hub rep. We are here to give you an exceptional experience!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you,&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!get_this_contact.Record_Owner_for_Pardot__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;PracticeHub@chewy.com&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Practice Hub by Chewy Health | Enrollment Invitation</text>
    </textTemplates>
    <variables>
        <name>attachmentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>emailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orgWideEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prettyJsonToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnedToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
