force-app/main/default/flows/Invoke_Account_PopulateTerritoryLevel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Territories</name>
        <label>Assign: Territories</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>vTerritories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_TerritoryLevelTerritories.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_TerritoryLevelTerritories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TerritoryLevelTerritory</name>
        <label>Assign: Territory Level Territory</label>
        <locationX>264</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>vTerritoryLevelTerritory.Territory_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CurrentTerritories.Territory2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTerritoryLevelTerritory.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CurrentTerritories</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_CurrentTerritoryContainedInTerritories</name>
        <label>Decision: Current Territory Contained in Territories</label>
        <locationX>396</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Loop_CurrentTerritories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesContained</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTerritories</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_CurrentTerritories.Territory2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TerritoryLevelTerritory</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>f10SecondsAgo</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (1/24) + (10/(60*60*24))</expression>
    </formulas>
    <interviewLabel>Account - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(DEPRECATE) Account - Populate Territory Level</label>
    <loops>
        <name>Loop_CurrentTerritories</name>
        <label>Loop: Current Territories</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <collectionReference>Get_AssociatedTerritories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_CurrentTerritoryContainedInTerritories</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_TerritoryLevelTerritories</name>
        <label>Loop: Territory Level Territories</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Territories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Territories</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_AssociatedTerritories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AssociatedTerritories</name>
        <label>Get: Associated Territories</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CurrentTerritories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ObjectTerritory2Association</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territories</name>
        <label>Get: Territories</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_TerritoryLevelTerritories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2TypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_TerritoryLevelType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TerritoryLevelType</name>
        <label>Get: Territory Level Type</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Territory Level</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2Type</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update: Account</label>
        <locationX>176</locationX>
        <locationY>1406</locationY>
        <inputReference>vTerritoryLevelTerritory</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_TerritoryLevelType</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vTerritories</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTerritoryLevelTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
