force-app/main/default/flows/Opportunity_AfterCreateUpdate_KeyFieldOpportunityTracking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign: Count</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>vCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_OpportunityTrackingItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_HasOpenSkippedOTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_StatusAndEnd</name>
        <label>Assign: Status and End</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Loop_OpportunityTrackingItems.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_OpportunityTrackingItems.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_AddToCollectionVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_AddToCollectionVariable</name>
        <label>Assignment: Add to Collection Variable</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>vOTIUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OpportunityTrackingItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OpportunityTrackingItems</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_HasOpenSkippedOTI</name>
        <label>Decision: Has Open/Skipped OTI</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasOpenSkippedOTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_OpportunityTrackingItems</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_KeyFieldWasChanged</name>
        <label>Decision: Key Field was Changed</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Loop_OpportunityTrackingItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fChanges</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_OpportunityTrackingItems.Step__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_StatusAndEnd</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>fChanges</name>
        <dataType>String</dataType>
        <expression>IF(ISCHANGED({!$Record.MSA__c}) &amp;&amp; {!$Record.MSA__c} = true, &quot;MSA and T&amp;Cs, &quot;, &quot;&quot;) +
IF(ISCHANGED({!$Record.Tax_Exempt_Cert__c}) &amp;&amp; {!$Record.Tax_Exempt_Cert__c} = true, &quot;Tax-Exempt Cert, &quot;, &quot;&quot;) +
IF(ISCHANGED({!$Record.Banking_details__c}) &amp;&amp; {!$Record.Banking_details__c} = true, &quot;Banking Details, &quot;, &quot;&quot;) +
IF(ISCHANGED({!$Record.W9__c}) &amp;&amp; {!$Record.W9__c} = true, &quot;W9, &quot;, &quot;&quot;) +
IF(ISCHANGED({!$Record.Marketplace_Seller_Form__c}) &amp;&amp; {!$Record.Marketplace_Seller_Form__c} = true, &quot;Vet/Staff List, &quot;, &quot;&quot;) +
IF(ISCHANGED({!$Record.EULA__c}) &amp;&amp; {!$Record.EULA__c} = true, &quot;EULA, &quot;, &quot;&quot;) +
IF(ISCHANGED({!$Record.Procurement_Setup__c}) &amp;&amp; {!$Record.Procurement_Setup__c} = true, &quot;Procurement Setup, &quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity - After Create/Update - Key Field Opportunity Tracking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - After Create/Update - Key Field Opportunity Tracking</label>
    <loops>
        <name>Loop_OpportunityTrackingItems</name>
        <label>Loop: Opportunity Tracking Items</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_OpportunityTrackingItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_KeyFieldWasChanged</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_OpportunityTrackingItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_OpportunityTrackingItems</name>
        <label>Get: Opportunity Tracking Items</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
        <filterLogic>(1 OR 4) AND 2 AND 3</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Key Field</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Skipped</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTrackingItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OpportunityTrackingItems</name>
        <label>Update: Opportunity Tracking Items</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <inputReference>vOTIUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OpportunityTrackingItems</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MSA__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tax_Exempt_Cert__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Banking_details__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>W9__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Marketplace_Seller_Form__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Procurement_Setup__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EULA__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vChanges</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vOTIUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
    <variables>
        <name>vString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
