force-app/main/default/flows/OwnerId_Allocation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Lead_Owner_Assignment</name>
        <label>Lead Owner Assignment</label>
        <locationX>989</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_for_other.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Owner_Assignment</name>
        <label>Owner Assignment</label>
        <locationX>1128</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Rep_record.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Territory_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Rep_record.Territory_ID__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Owner_Assigned_through_state</name>
        <label>Owner Assigned through state</label>
        <locationX>637</locationX>
        <locationY>133</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigned_Through_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assign_Based_on_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>State_Rep_record</targetReference>
            </connector>
            <label>Assigned Through State</label>
        </rules>
        <rules>
            <name>Not_Assigned_Through_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assign_Based_on_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_for_other</targetReference>
            </connector>
            <label>Not Assigned Through State</label>
        </rules>
    </decisions>
    <description>Owner Changes Made as per the requirement on 15/9 V2</description>
    <interviewLabel>OwnerId Allocation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeadOwnerId Allocation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>State_Rep_record</name>
        <label>State Rep record</label>
        <locationX>930</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory_Alignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_for_other</name>
        <label>User for other</label>
        <locationX>641</locationX>
        <locationY>403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Owner_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alexander Booras</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>222</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Owner_Assigned_through_state</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Company</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Landing Page</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
