force-app/main/default/flows/Record_Opportunity_AfterCreateUpdate_StageOpportunityTracking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_AddToCollectionFinal</name>
        <label>Assign: Add To Collection Final</label>
        <locationX>446</locationX>
        <locationY>4799</locationY>
        <assignmentItems>
            <assignToReference>vKeyFieldCollectionFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_CheckToCreateNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CheckToCreateNew</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AddToEnrollmentCollectionInitial</name>
        <label>Assign: Add to Enrollment Collection Initial</label>
        <locationX>182</locationX>
        <locationY>2759</locationY>
        <assignmentItems>
            <assignToReference>vKeyFieldCollectionInitial</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vMSA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vKeyFieldCollectionInitial</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vTaxExemptCert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vKeyFieldCollectionInitial</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vBankingDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vKeyFieldCollectionInitial</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vW9</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_SkippedOTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AddToOnboardingCollection</name>
        <label>Assign: Add to Onboarding Collection</label>
        <locationX>446</locationX>
        <locationY>2759</locationY>
        <assignmentItems>
            <assignToReference>vKeyFieldCollectionInitial</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vVetStaffList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vKeyFieldCollectionInitial</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vEULA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vKeyFieldCollectionInitial</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vProcurementSetup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_SkippedOTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AddToOpenOTICollection</name>
        <label>Assign: Add to Open OTI Collection</label>
        <locationX>138</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>vOpenOTICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vOpenOTI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_KeyFieldOTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AddToOTIsToUpdate</name>
        <label>Assign: Add to OTIs to Update</label>
        <locationX>138</locationX>
        <locationY>4031</locationY>
        <assignmentItems>
            <assignToReference>vOTIsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vOTIToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SkippedOTIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EnrollmentKeyFields</name>
        <label>Assign: Enrollment Key Fields</label>
        <locationX>182</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>vMSA.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTaxExemptCert.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBankingDetails.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vW9.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMSA.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Key Field</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTaxExemptCert.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Key Field</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBankingDetails.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Key Field</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vW9.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Key Field</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMSA.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTaxExemptCert.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBankingDetails.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vW9.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMSA.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTaxExemptCert.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBankingDetails.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vW9.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMSA.Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MSA and T&amp;Cs</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTaxExemptCert.Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tax-Exempt Cert</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBankingDetails.Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Banking Details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vW9.Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>W9</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AddToEnrollmentCollectionInitial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_KeyFieldOTICount</name>
        <label>Assign: Key Field OTI Count</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>vKeyFieldOTICount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_OpenOTIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_HasOpenKeyFieldOTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OnboardingKeyFields</name>
        <label>Assign: Onboarding Key Fields</label>
        <locationX>446</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>vVetStaffList.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEULA.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProcurementSetup.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vVetStaffList.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEULA.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProcurementSetup.Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vVetStaffList.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Key Field</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEULA.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Key Field</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProcurementSetup.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Key Field</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vVetStaffList.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEULA.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProcurementSetup.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vVetStaffList.Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vet/Staff List</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vEULA.Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EULA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProcurementSetup.Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement Setup</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AddToOnboardingCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OTIToUpdate</name>
        <label>Assign: OTI to Update</label>
        <locationX>138</locationX>
        <locationY>3911</locationY>
        <assignmentItems>
            <assignToReference>vOTIToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SkippedOTIs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOTIToUpdate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOTIToUpdate.End__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AddToOTIsToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PreviousOTI</name>
        <label>Assign: Previous OTI</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_OpenOTIWithPreviousStageName.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_OpenOTIWithPreviousStageName.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PreviousOTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RelevantSteps</name>
        <label>Assign: Relevant Steps</label>
        <locationX>138</locationX>
        <locationY>3455</locationY>
        <assignmentItems>
            <assignToReference>vRelevantSteps</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!vRelevantSteps};{!Assign_RelevantKeyFields.Step__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_RelevantKeyFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Skipped</name>
        <label>Assign: Skipped</label>
        <locationX>138</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>vOpenOTI.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Skipped</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpenOTI.End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpenOTI.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_KeyFieldOTI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AddToOpenOTICollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SkippedCount</name>
        <label>Assign: Skipped Count</label>
        <locationX>182</locationX>
        <locationY>3095</locationY>
        <assignmentItems>
            <assignToReference>vSkippedCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_SkippedOTI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_HasSkipped</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Steps</name>
        <label>Assign: Steps</label>
        <locationX>270</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>vSteps</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!vSteps};{!Loop_GetTypes.Step__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_GetTypes</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_OpenOTIs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter - Open OTIs</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <assignNextValueToReference>currentItem_Filter_OpenOTIs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_KeyFieldOTI</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_OpenOTIs.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Open</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_KeyFieldOTICount</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_SkippedOTI</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter: Skipped OTI</label>
        <locationX>182</locationX>
        <locationY>2975</locationY>
        <assignNextValueToReference>currentItem_Filter_SkippedOTI</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_KeyFieldOTI</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_SkippedOTI.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Skipped</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_SkippedCount</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Decision_FoundOpenOTI</name>
        <label>Decision: Found Open OTI</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Create_NewOTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFoundOpenOTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OpenOTIWithPreviousStageName.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreviousOTI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_HasOpenKeyFieldOTI</name>
        <label>Decision: Has Open Key Field OTI</label>
        <locationX>182</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Loop_GetTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasOpenKeyFieldOTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vKeyFieldOTICount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_KeyFieldOTI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_HasSkipped</name>
        <label>Decision: Has Skipped</label>
        <locationX>182</locationX>
        <locationY>3215</locationY>
        <defaultConnector>
            <targetReference>Loop_CheckToCreateNew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasSkipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSkippedCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RelevantKeyFields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_IsSkippedForCurrentStage</name>
        <label>Decision: Is Skipped for Current Stage?</label>
        <locationX>270</locationX>
        <locationY>3791</locationY>
        <defaultConnector>
            <targetReference>Loop_SkippedOTIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSkippedforCurrentStage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRelevantSteps</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_SkippedOTIs.Step__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OTIToUpdate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_KeyFieldAlreadyExists</name>
        <label>Decision: Key Field Already Exists</label>
        <locationX>358</locationX>
        <locationY>4679</locationY>
        <defaultConnector>
            <targetReference>Assign_AddToCollectionFinal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesKeyFieldAlreadyExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSteps</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_CheckToCreateNew.Step__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_CheckToCreateNew</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_WhichStage</name>
        <label>Decision: Which Stage?</label>
        <locationX>182</locationX>
        <locationY>2519</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <label>Discovery</label>
        </rules>
        <rules>
            <name>Demo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo</stringValue>
                </rightValue>
            </conditions>
            <label>Demo</label>
        </rules>
        <rules>
            <name>Negotiation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <label>Negotiation</label>
        </rules>
        <rules>
            <name>Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EnrollmentKeyFields</targetReference>
            </connector>
            <label>Enrollment</label>
        </rules>
        <rules>
            <name>Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OnboardingKeyFields</targetReference>
            </connector>
            <label>Onboarding</label>
        </rules>
        <rules>
            <name>Stalled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stalled</stringValue>
                </rightValue>
            </conditions>
            <label>Stalled</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity - After Create/Update - Stage Opportunity Tracking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - After Create/Update - Stage Opportunity Tracking</label>
    <loops>
        <name>Assign_RelevantKeyFields</name>
        <label>Assign: Relevant Key Fields</label>
        <locationX>50</locationX>
        <locationY>3335</locationY>
        <collectionReference>vKeyFieldCollectionInitial</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_RelevantSteps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_SkippedOTIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_CheckToCreateNew</name>
        <label>Loop: Check to Create New</label>
        <locationX>182</locationX>
        <locationY>4559</locationY>
        <collectionReference>vKeyFieldCollectionInitial</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_KeyFieldAlreadyExists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_KeyFieldOTIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_GetTypes</name>
        <label>Loop: Get Types</label>
        <locationX>182</locationX>
        <locationY>2183</locationY>
        <collectionReference>Get_KeyFieldOTI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Steps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_WhichStage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_KeyFieldOTI</name>
        <label>Loop: Key Field OTI</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <collectionReference>Filter_OpenOTIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Skipped</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_KeyFieldOTI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_SkippedOTIs</name>
        <label>Loop: Skipped OTIs</label>
        <locationX>50</locationX>
        <locationY>3671</locationY>
        <collectionReference>Filter_SkippedOTI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_IsSkippedForCurrentStage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_OTIsToUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_KeyFieldOTIs</name>
        <label>Create: Key Field OTIs</label>
        <locationX>182</locationX>
        <locationY>5111</locationY>
        <inputReference>vKeyFieldCollectionFinal</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_NewOTI</name>
        <label>Create: New OTI</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Get_KeyFieldOTI</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PriorValue__c</field>
            <value>
                <elementReference>$Record__Prior.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Step__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Stage</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityTrackingItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_KeyFieldOTI</name>
        <label>Get: Key Field OTI</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_OpenOTIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Key Field</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTrackingItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OpenOTIWithPreviousStageName</name>
        <label>Get: Open OTI with Previous StageName</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_FoundOpenOTI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.StageName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTrackingItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_KeyFieldOTI</name>
        <label>Update: Key Field OTI</label>
        <locationX>50</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Loop_GetTypes</targetReference>
        </connector>
        <inputReference>vOpenOTICollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OTIsToUpdate</name>
        <label>Update: OTIs to Update</label>
        <locationX>50</locationX>
        <locationY>4343</locationY>
        <connector>
            <targetReference>Loop_CheckToCreateNew</targetReference>
        </connector>
        <inputReference>vOTIsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PreviousOTI</name>
        <label>Update: Previous OTI</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Create_NewOTI</targetReference>
        </connector>
        <inputReference>Get_OpenOTIWithPreviousStageName</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OpenOTIWithPreviousStageName</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_OpenOTIs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_SkippedOTI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
    <variables>
        <name>vBankingDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
    <variables>
        <name>vEULA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
    <variables>
        <name>vKeyFieldCollectionFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
    <variables>
        <name>vKeyFieldCollectionInitial</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
    <variables>
        <name>vKeyFieldOTICount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vMSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
    <variables>
        <name>vOpenOTI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
    <variables>
        <name>vOpenOTICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
    <variables>
        <name>vOTIsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
    <variables>
        <name>vOTIToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
    <variables>
        <name>vOTIUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
    <variables>
        <name>vProcurementSetup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
    <variables>
        <name>vRelevantSteps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSkippedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vSkippedOTIs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
    <variables>
        <name>vSteps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTaxExemptCert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
    <variables>
        <name>vVetStaffList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
    <variables>
        <name>vW9</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTrackingItem__c</objectType>
    </variables>
</Flow>
