force-app/main/default/flows/Schedule_Account_Daily_MaintainTerritories.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_AccountOwnerCECCAM</name>
        <label>Assign: Account Owner - CEC/CAM</label>
        <locationX>1282</locationX>
        <locationY>2580</locationY>
        <assignmentItems>
            <assignToReference>vAccountOwner.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccountOwner.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CECCAM.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_OwnerDiffersCECCAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AccountOwnerCSM</name>
        <label>Assign: Account Owner - CSM</label>
        <locationX>270</locationX>
        <locationY>2580</locationY>
        <assignmentItems>
            <assignToReference>vAccountOwner.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccountOwner.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CSM.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_OwnerDiffersCSM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is to get a list of the current territories to use as a filter down the line.</description>
        <name>Assign_CurrentTerritories</name>
        <label>Assign: Current Territories</label>
        <locationX>776</locationX>
        <locationY>1428</locationY>
        <assignmentItems>
            <assignToReference>vCurrentAssociatedTerritories</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, {!Loop_CurrentTerritories.Territory2Id}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CurrentTerritories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Territories</name>
        <label>Assign: Territories</label>
        <locationX>644</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>vTerritories</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, {!Loop_TerritoryLevelTerritories.Id}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_TerritoryLevelTerritories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TerritoryLevelTerritory</name>
        <label>Assign: Territory Level Territory</label>
        <locationX>644</locationX>
        <locationY>1212</locationY>
        <assignmentItems>
            <assignToReference>vTerritoryLevelTerritory.Territory_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CurrentTerritories.Territory2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTerritoryLevelTerritory.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CurrentTerritories</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_CECCAMs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter: CEC/CAMs</label>
        <locationX>1062</locationX>
        <locationY>2220</locationY>
        <assignNextValueToReference>currentItem_Filter_CECCAMs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_UserTerritoryAssociations</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_CECCAMs.RoleInTerritory2</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Clinic Enrollment Consultant</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_CECCAMs.RoleInTerritory2</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Corporate Account Manager</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_CECCAM</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_CSMs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter: CSMs</label>
        <locationX>50</locationX>
        <locationY>2220</locationY>
        <assignNextValueToReference>currentItem_Filter_CSMs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_UserTerritoryAssociations</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_CSMs.RoleInTerritory2</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Clinic Success Manager</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_CSM</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Decision_ClinicIsLive</name>
        <label>Decision: Clinic is Live</label>
        <locationX>556</locationX>
        <locationY>2100</locationY>
        <defaultConnector>
            <targetReference>Filter_CECCAMs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesClinicIsLive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clinic_is_Live__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_CSMs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_CurrentTerritoryContainedInTerritories</name>
        <label>Decision: Current Territory Contained in Territories</label>
        <locationX>776</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Assign_CurrentTerritories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesContained</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTerritories</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_CurrentTerritories.Territory2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TerritoryLevelTerritory</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_IsTerritoryLevelDifferent</name>
        <label>Decision: Is Territory Level Different?</label>
        <locationX>556</locationX>
        <locationY>1644</locationY>
        <defaultConnector>
            <targetReference>Get_UserTerritoryAssociations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesDifferent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Territory_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vTerritoryLevelTerritory.Territory_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_OwnerDiffersCECCAM</name>
        <label>Decision: Owner Differs - CEC/CAM</label>
        <locationX>1282</locationX>
        <locationY>2700</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOwnerDiffersCECCAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vAccountOwner.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AccountOwnershipCECCAM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_OwnerDiffersCSM</name>
        <label>Decision: Owner Differs - CSM</label>
        <locationX>270</locationX>
        <locationY>2700</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOwnerDiffersCSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vAccountOwner.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AccountOwnershipCSM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>As soon as this element evaluates to &quot;Yes,&quot; the loop will be broken.</description>
        <name>Decision_TerritoryCECCAMUserTerritoryAssociation</name>
        <label>Decision: Territory CEC/CAM User Territory Association</label>
        <locationX>1480</locationX>
        <locationY>2460</locationY>
        <defaultConnector>
            <targetReference>Loop_CECCAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesContainsCECCAMUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCurrentAssociatedTerritories</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_CECCAM.Territory2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountOwnerCECCAM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>As soon as this element evaluates to &quot;Yes,&quot; the loop will be broken.</description>
        <name>Decision_TerritoryCSMUserTerritoryAssociation</name>
        <label>Decision: Territory CSM User Territory Association</label>
        <locationX>468</locationX>
        <locationY>2460</locationY>
        <defaultConnector>
            <targetReference>Loop_CSM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesContainsUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCurrentAssociatedTerritories</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_CSM.Territory2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountOwnerCSM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Account - Daily - Maintain Territories {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Daily - Maintain Territories</label>
    <loops>
        <name>Loop_CECCAM</name>
        <label>Loop: CEC/CAM</label>
        <locationX>1062</locationX>
        <locationY>2340</locationY>
        <collectionReference>Filter_CECCAMs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_TerritoryCECCAMUserTerritoryAssociation</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_CSM</name>
        <label>Loop: CSM</label>
        <locationX>50</locationX>
        <locationY>2340</locationY>
        <collectionReference>Filter_CSMs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_TerritoryCSMUserTerritoryAssociation</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_CurrentTerritories</name>
        <label>Loop: Current Territories</label>
        <locationX>556</locationX>
        <locationY>972</locationY>
        <collectionReference>Get_AssociatedTerritories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_CurrentTerritoryContainedInTerritories</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_IsTerritoryLevelDifferent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_TerritoryLevelTerritories</name>
        <label>Loop: Territory Level Territories</label>
        <locationX>556</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_Territories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Territories</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_AssociatedTerritories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AssociatedTerritories</name>
        <label>Get: Associated Territories</label>
        <locationX>556</locationX>
        <locationY>852</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CurrentTerritories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ObjectTerritory2Association</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territories</name>
        <label>Get: Territories</label>
        <locationX>556</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_TerritoryLevelTerritories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2TypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_TerritoryLevelType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TerritoryLevelType</name>
        <label>Get: Territory Level Type</label>
        <locationX>556</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Territory Level</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2Type</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UserTerritoryAssociations</name>
        <label>Get: User Territory Associations</label>
        <locationX>556</locationX>
        <locationY>1980</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ClinicIsLive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserTerritory2Association</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update: Account</label>
        <locationX>424</locationX>
        <locationY>1764</locationY>
        <connector>
            <targetReference>Get_UserTerritoryAssociations</targetReference>
        </connector>
        <inputReference>vTerritoryLevelTerritory</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AccountOwnershipCECCAM</name>
        <label>Update: Account Ownership - CEC/CAM</label>
        <locationX>1150</locationX>
        <locationY>2820</locationY>
        <connector>
            <targetReference>Subflow_ReassignTasksCECCAM</targetReference>
        </connector>
        <inputReference>vAccountOwner</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AccountOwnershipCSM</name>
        <label>Update: Account Ownership - CSM</label>
        <locationX>138</locationX>
        <locationY>2820</locationY>
        <connector>
            <targetReference>Subflow_ReassignTasksCSM</targetReference>
        </connector>
        <inputReference>vAccountOwner</inputReference>
    </recordUpdates>
    <start>
        <locationX>430</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_TerritoryLevelType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-08-16</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_ReassignTasksCECCAM</name>
        <label>Subflow - Reassign Tasks - CEC/CAM</label>
        <locationX>1150</locationX>
        <locationY>2940</locationY>
        <flowName>Invoke_Account_ReassignTasks</flowName>
        <inputAssignments>
            <name>vOwnerId</name>
            <value>
                <elementReference>vAccountOwner.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Subflow_ReassignTasksCSM</name>
        <label>Subflow - Reassign Tasks - CSM</label>
        <locationX>138</locationX>
        <locationY>2940</locationY>
        <flowName>Invoke_Account_ReassignTasks</flowName>
        <inputAssignments>
            <name>vOwnerId</name>
            <value>
                <elementReference>vAccountOwner.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentItem_Filter_CECCAMs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserTerritory2Association</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_CSMs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserTerritory2Association</objectType>
    </variables>
    <variables>
        <name>vAccountOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vCurrentAssociatedTerritories</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTerritories</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTerritoryLevelTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
