force-app/main/default/flows/Screen_Opportunity_ScheduleClinicActivation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_AccountFields</name>
        <label>Assign: Account Fields</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>vAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccount.ActivationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Activation_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccount.Go_Live_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Go_Live_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccount.ClinicSchemaName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clinic_Schema_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccount.Unique_Chewy_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UniqueChewyIdText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PrimaryContactValues</name>
        <label>Assign: Primary Contact Values</label>
        <locationX>50</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>vContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Account.PrimaryContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameEntry.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameEntry.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryContactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PrimaryContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SelectedContactId</name>
        <label>Assign: Selected Contact Id</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>vSelectedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_First_Contact_at_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_SelectPrimaryContact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Already_Scheduled</name>
        <label>Decision: Already Scheduled?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Decision_MissingPrimaryContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAlreadyScheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OpportunityPrecheck.Account.ActivationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OpportunityPrecheck.Account.Go_Live_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_AlreadyScheduled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_MissingPrimaryContact</name>
        <label>Decision: Missing Primary Contact</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesMissingPrimaryContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OpportunityPrecheck.Account.PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_First_Contact_at_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_PrimaryContactUpdated</name>
        <label>Decision: Primary Contact Updated</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPrimaryContactUpdated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NameEntry.firstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Account.PrimaryContact__r.FirstName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NameEntry.lastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Account.PrimaryContact__r.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryContactEmail.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Account.PrimaryContact__r.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PrimaryContactValues</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>fSuggestedActivationDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!Get_Opportunity.Account.ActivationDate__c}), 
TODAY() + CASE(MOD(TODAY() - DATE( 1900, 1, 7 ), 7 ), 
  0, 9, 
  1, 8,	
  2, 7,	
  3, 6, 
  4, 5, 
  5, 4, 
  6, 3, 
  0), 
{!Get_Opportunity.Account.ActivationDate__c})</expression>
    </formulas>
    <formulas>
        <name>fSuggestedGoLiveDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!Get_Opportunity.Account.Go_Live_Date__c}), 
{!fSuggestedActivationDate} + 7, 
{!Get_Opportunity.Account.Go_Live_Date__c})</expression>
    </formulas>
    <interviewLabel>Schedule Clinic Activation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Clinic Activation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_First_Contact_at_Account</name>
        <label>Get: First Contact at Account</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SelectedContactId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OpportunityPrecheck.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get: Opportunity</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_ValidationCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityPrecheck</name>
        <label>Get: Opportunity - Pre check</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Already_Scheduled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update: Account</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Decision_PrimaryContactUpdated</targetReference>
        </connector>
        <inputReference>vAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Primary_Contact</name>
        <label>Update: Account - Primary Contact</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OpportunityPrecheck.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PrimaryContact__c</field>
            <value>
                <elementReference>LookupPrimaryContact.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PrimaryContact</name>
        <label>Update: Primary Contact</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <inputReference>vContact</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_AlreadyScheduled</name>
        <label>Already Scheduled Screen</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_MissingPrimaryContact</targetReference>
        </connector>
        <fields>
            <name>AlreadyScheduledDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Get_OpportunityPrecheck.Account.Name} is scheduled for activation.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Go-Live Date:&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; {!Get_OpportunityPrecheck.Account.Go_Live_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Activation Date: &lt;/strong&gt;{!Get_OpportunityPrecheck.Account.ActivationDate__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Clinic Schema Name: &lt;/strong&gt;{!Get_OpportunityPrecheck.Account.ClinicSchemaName__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Admin First Name: &lt;/strong&gt;{!Get_OpportunityPrecheck.Account.PrimaryContact__r.FirstName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Admin Last Name: &lt;/strong&gt;{!Get_OpportunityPrecheck.Account.PrimaryContact__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Admin Email: &lt;/strong&gt;{!Get_OpportunityPrecheck.Account.PrimaryContact__r.Email}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Re-schedule</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_SelectPrimaryContact</name>
        <label>Select Primary Contact</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Account_Primary_Contact</targetReference>
        </connector>
        <fields>
            <name>LookupPrimaryContact</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalField</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderBy</name>
                <value>
                    <stringValue>Account.Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fuzzySearch</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>vSelectedContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pluralLabel</name>
                <value>
                    <stringValue>Primary Contacts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>AccountId IN (&apos;{!Get_OpportunityPrecheck.AccountId}&apos;, &apos;{!Get_OpportunityPrecheck.Account.ParentId}&apos; )</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LookupPrimaryContactSpace</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_ValidationCheck</name>
        <label>Validation Check</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_AccountFields</targetReference>
        </connector>
        <fields>
            <name>Screen_ValidationCheck_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_ValidationCheck_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Account&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Clinic_Schema_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Account.ClinicSchemaName__c</elementReference>
                    </defaultValue>
                    <fieldText>Clinic Schema Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>UniqueChewyIdText</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Account.Unique_Chewy_ID__c</elementReference>
                    </defaultValue>
                    <fieldText>Unique Chewy Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Go_Live_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>fSuggestedGoLiveDate</elementReference>
                    </defaultValue>
                    <fieldText>Go-Live Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If not already specified, recommends 7 days after Activation Date.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Activation_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>fSuggestedActivationDate</elementReference>
                    </defaultValue>
                    <fieldText>Activation Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Must be later than today. If not already specified, recommends the next Tuesday.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Activation must be later than today.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Activation_Date} &gt; TODAY()</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_ValidationCheck_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Contact&lt;/u&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>NameEntry</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>Get_Opportunity.Account.PrimaryContact__r.FirstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>Get_Opportunity.Account.PrimaryContact__r.LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>PrimaryContactEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Opportunity.Account.PrimaryContact__r.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OpportunityPrecheck</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vSelectedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
