force-app/main/default/flows/Screen_Account_Create_Opportunities_for_Child_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_AddInstantiatedOpportunityContactRoleToCollection</name>
        <label>Add Instantiated Opportunity Contact Role To Collection</label>
        <locationX>270</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>Collection_OpportunityContactRolesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Record_OpportunityContactRoleToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ThroughCreatedOpportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AddInstantiatedOpportunityToCollection</name>
        <label>Add Instantiated Opportunity To Collection</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Collection_OpportunitiesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Record_OpportunityToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ChildAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CountChildAccounts</name>
        <label>Count Child Accounts</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Number_CountOfChildAccounts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_ChildAccounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ChildAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CountOpportunityCollection</name>
        <label>Count Opportunity Collection</label>
        <locationX>182</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>Number_CountOfOpportunityCollection</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Collection_OpportunitiesToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_CheckOpportunityListSize</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CountOpportunityContactRoleCollection</name>
        <label>Count Opportunity Contact Role Collection</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>Number_CountOfOpportunityContactRoleCollection</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Collection_OpportunityContactRolesToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_CheckOpportunityContactRoleListSize</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_InstantiateNewOpportunity</name>
        <label>Instantiate New Opportunity</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Record_OpportunityToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ChildAccounts.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_OpportunityToCreate.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayPlusOneMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_OpportunityToCreate.Onboarding_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_OpportunityToCreate.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_OpportunityToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ChildAccounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AddInstantiatedOpportunityToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_InstantiateOpportunityContactRole</name>
        <label>Instantiate Opportunity Contact Role</label>
        <locationX>270</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>Record_OpportunityContactRoleToCreate.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ThroughCreatedOpportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_OpportunityContactRoleToCreate.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ThroughCreatedOpportunities.Account.PrimaryContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_OpportunityContactRoleToCreate.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AddInstantiatedOpportunityContactRoleToCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_CheckOpportunityContactRoleListSize</name>
        <label>Check Opportunity Contact Role List Size</label>
        <locationX>182</locationX>
        <locationY>2318</locationY>
        <defaultConnector>
            <targetReference>Screen_CheckoutConfirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>NotNullCheckOpportunityContactRoleListSize</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection_OpportunityContactRolesToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Contact_Roles</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_CheckOpportunityListSize</name>
        <label>Check Opportunity List Size</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Loop_ThroughCreatedOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>NotNullCheckOpportunityListSize</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection_OpportunitiesToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunities</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_DoesParentAccountHavePrimaryContact</name>
        <label>Does Parent Account Have Primary Contact?</label>
        <locationX>402</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Loop_ThroughCreatedOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesDoesParentAccountHavePrimaryContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_ThroughCreatedOpportunities.Account.PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_InstantiateOpportunityContactRole</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the current Account in the loop already has an onboarding Opportunity</description>
        <name>Decision_HasOnboardingOpportunity</name>
        <label>Has Onboarding Opportunity?</label>
        <locationX>358</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_InstantiateNewOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasOnboardingOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_ChildAccounts.of_Onboarding_Opportunities__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_ChildAccounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When invoked, this Flow gets all child Accounts of this Account and creates an onboarding Opportunity under each one if one is not already present.</description>
    <formulas>
        <name>TodayPlusOneMonth</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate}, 1)</expression>
    </formulas>
    <interviewLabel>Create Opportunities for Child Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunities for Child Accounts</label>
    <loops>
        <name>Loop_ChildAccounts</name>
        <label>Loop Through Child Accounts</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_ChildAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_HasOnboardingOpportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_CountOpportunityCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ThroughCreatedOpportunities</name>
        <label>Loop Through Created Opportunities</label>
        <locationX>182</locationX>
        <locationY>1526</locationY>
        <collectionReference>Collection_OpportunitiesToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_DoesParentAccountHavePrimaryContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_CountOpportunityContactRoleCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunities</name>
        <label>Create Opportunities</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>Loop_ThroughCreatedOpportunities</targetReference>
        </connector>
        <inputReference>Collection_OpportunitiesToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Contact_Roles</name>
        <label>Create Opportunity Contact Roles</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Screen_CheckoutConfirmation</targetReference>
        </connector>
        <inputReference>Collection_OpportunityContactRolesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_ChildAccounts</name>
        <label>Get Child Accounts</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CountChildAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Screen_CheckoutConfirmation</name>
        <label>Checkout Confirmation</label>
        <locationX>182</locationX>
        <locationY>2654</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_CheckoutConfirmation</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Child Accounts Found: &lt;/strong&gt;{!Number_CountOfChildAccounts}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Onboarding Opportunities Created: &lt;/strong&gt;{!Number_CountOfOpportunityCollection}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Opportunity Contact Roles Created: &lt;/strong&gt;{!Number_CountOfOpportunityContactRoleCollection}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ChildAccounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Collection_OpportunitiesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Collection_OpportunityContactRolesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>Number_CountOfChildAccounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Number_CountOfOpportunityCollection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Number_CountOfOpportunityContactRoleCollection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Record_OpportunityContactRoleToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>Record_OpportunityToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Stores the ID of the record that triggered this Flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
